.header__video-btn {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;

	width: 169px;
	height: 33px;
	background: #18c576;
	
	font-family: var(--font-family);
	font-style: italic;
	font-weight: 500;
	font-size: 14px;
	line-height: 120%;
	color: #fff;
	
	transition: all 0.2s ease-in;

	&:hover,.icon--play:hover{
		stroke: #f3d80f;
		color: #f3d80f;
	}
}

.header__video-btn::after {
	content:'';
	display:block;
	clear:both;

	top:0;
	left:-9px;

	width:0;
	height:0;

	border-left:9px solid transparent;
	border-bottom:33px solid #18c576;
	position:absolute;
}

.header__video-btn::before {
	content:'';
	display:block;
	clear:both;

	top:0;
	right:-9px;

	width:0;
	height:0;

	border-right:9px solid transparent;
	border-top:33px solid #18c576;
	position:absolute;
}

.card__btn {
	border-radius: 5px;
	padding: 6px 20px;

	width: 142px;
	height: 32px;

	background: #18c576;

	font-family: var(--font-family);
	font-weight: 700;
	font-size: 12px;
	line-height: 167%;
	color: #fefefe;

	transition: all 0.4s ease-in;
	
	&:hover{
		
		background: #026237fb;
		color: #f3d80f;
	}

	@include mobile {
		border-radius: 5px;
		padding: 6px 20px;
		width: 296px;
		height: 32px;
	}
	
	&--col-2{
		width: 157px;
		@include mobile {
			border-radius: 6px;
			padding: 7px 25px;
			width: 200px;
			height: 40px;
		}
	}
}

.form__btn{
	border-radius: 5px;
	padding: 6px 20px;
	width: 106px;
	height: 32px;

	background: #18c576;
	transition: all 0.4s ease-in;
	opacity: 0.5;

	font-family: var(--font-family);
	font-weight: 700;
	font-size: 12px;
	line-height: 167%;
	color: #fefefe;

	&:hover{
		background: #026237fb;
		color: #f3d80f;
	}

	&--active{
		opacity: 1;
		background: #f69504fb;
	}
}

