.card {
    position: relative;

    width: 387px;

    @include tablet {
        width: 382px
    }
    @include mobile {
        width: 328px;
        height: 328px;

        &--col-1{
            width: 328px;
            height: 175px;
        }
    }
 }

 .card__col-2{
    position: relative;

    width: 183px;
    height: 328px;

    border-radius: 5px;
    background: #fff;

    &--img{
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }

    @include tablet {
        width: 181px;

        .card__sale-product,.card__sale-discount{
            display: none;
        }
    }

    @include mobile {
        width: 230px;
        height: 410px;
        
        &--img{
            width: 230px;
            height: 230px;
        }
        .card__sale-product,.card__sale-discount{
            display: block;
        }
    }
}

.card__user-activity {
    position: absolute;

    display: grid;
    gap: 6px;

    top: 12px;
    right: 12px;

    &--col-2{
        top: 8px;
        right: 8px;
    }
}

.card__img {
    border-radius: 5px;
    height: 100%;
    &--col-0{
        height: 328px;
    }
}
 
 .card__sale {
    position: absolute;

    left: 12px;
    bottom: 12px;

    display: flex;
    flex-direction: column;
    gap: 4px;

    &--col-0{
        @include mobile {
            flex-direction: row;
            gap: 4px;
            
            top: 43px;
            left: 10px;
        }
    }
    
    &--col-1{
        @include mobile {
            flex-direction: row;
            gap: 4px;
            
            top: 43px;
            left: 12px;
        }
    }
    
    &--col-2{
        top: 10px;
        left: 10px;
    }
}
 .card__sale-discount {
    width: 56px;
    height: 23px;

    padding: 0px 11px;
    border-radius: 50px;

    background: #18c576;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 192%;
    color: #fff;
    
    transition: all 0.2s ease-in;

    &:hover{
        background: #02a017;
        color: #f3d80f;
    }

    &--col-1{
        width: 55px;

        background: #ff5bc6;
        transition: all 0.2s ease-in;

        &:hover{
            background: #f810e1;
            color: #f3d80f;
        }
    }

    &--swiper{
        border-radius: 62px;
        padding: 0px 13px;
        width: 70px;
        height: 27px;

        font-size: 15px;
        line-height: 180%;
    }
    
 }
 .card__sale-product {
    border-radius: 50px;
    padding: 0px 11px;
    width: 83px;
    height: 23px;

    background: #ffa726;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 192%;
    color: #fff;
    transition: all 0.2s ease-in;

    &:hover{
        background: #479be9;
        color: #f3d80f;
    }

    &--col-1{
        width: 98px;

        background: #39b0f4;
    }

    &--col-2{
        width: 44px;

        background: #ac59f1;
        transition: all 0.2s ease-in;

        &:hover{
            background: #5d47e9;
            color: #f3d80f;
        }

        @include mobile {
            
        }
       
    }

    &--swiper{
        border-radius: 62px;
        padding: 0px 13px;
        width: 103px;
        height: 27px;

        font-size: 15px;
        line-height: 180%;
    }
 }

 .card__sale-hit{
    display: none;

    border-radius: 50px;
    padding: 0px 11px;
    width: 44px;
    height: 23px;

    background: #ac59f1;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 192%;
    color: #fff;
    transition: all 0.2s ease-in;

    &:hover{
        background: #479be9;
        color: #f3d80f;
    }

    @include tablet {
        display: block;
    }

    @include mobile {
        display: none;
    }

    &--swiper{
        display: block;

        border-radius: 62px;
        padding: 0px 13px;
        width: 55px;
        height: 27px;

        font-size: 15px;
        line-height: 180%;
    }
 }
 
 .card__price-btn {
    position: absolute;

    display: flex;
    align-items: center;
    gap: 8px;
    
    bottom: 0;
    right: 0;
    margin: 0 12px 12px;

    span{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        text-align: center;
        color: #fff;
    }
    
    &--col-2{
        flex-direction: column;

        @include mobile {
            margin: 0 15px 15px ;
        }

        span{
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 20px;
            line-height: 100%;
            text-align: center;
            color: #444;

            @include mobile {
                font-size: 25px;
            }
        }
    }

    @include mobile {
        flex-direction: column;
        margin: 0 16px 16px;
    }
}

